.listaPokemon {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem; /* Mesma coisa que 0.5rem */
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .id{
    color: black;
    text-align: right;
    opacity: .2;
    font-size: .625rem;
}

.pokemon .name{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .details img{
    max-width: 100%;
    height: 85px;
    align-self: flex-end;
}

.pokemon .details .types{
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .details .types li{
    color:#fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.pagination{
    display: flex;
    flex-direction: row;
    margin: 1rem, auto;
    align-items: center;
    justify-content: center;
}

.pagination button{
    background-color: #6357a6;
    color:#fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border: none;
    border-radius: .900rem;
}

/* colors */

.grass { 
    background-color: #49d0b0
}
.fire { 
    background-color: #fc6c6d
}
.water { 
    background-color: #76befe
}
.normal { 
    background-color: #acaa7a
}
.electric { 
    background-color: #f7d233
}
.rock{
    background-color: #b9a338;
}
.flying { 
    background-color: #9e8fc5
}
.fighting { 
    background-color: #c4312b
}
.psychic { 
    background-color: #f05889
}
.fairy { 
    background-color: #f7cbdf
}
.ground { 
    background-color: #e0c166
}
.steel { 
    background-color: #b8b8d2
}
.dragon { 
    background-color: #6357a6
}
.ice { 
    background-color: #98d6d5
}
.ghost { 
    background-color: #71599a
}
.dark { 
    background-color: #725a4a
}
.bug { 
    background-color: #aaba39
}
.poison { 
    background-color: #9e4399
}

@media screen and (min-width: 380px){
    .listaPokemon {
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (min-width: 576px){
    .listaPokemon {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .listaPokemon {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}